<div id="listing">
	
	<h1>Seshly v.0.1a</h1>

	<table>
	  <tr>
	    <th>Title</th>
	    <th>Description</th>
	    <th>Category</th>
		<th>Area</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @spots.each do |spot| %>
	  <tr>
	    <td><%= spot.title %></td>
	    <td><%= spot.description %></td>
	    <td><%= spot.category %></td>
		<td><%= spot.area %></td>
	    <td><%= link_to 'Show', spot %></td>
	    <td><%= link_to 'Edit', edit_spot_path(spot) %></td>
	    <td><%= link_to 'Destroy', spot, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>

	<br />
	<form action="/spots/?" method="get">
		<select name="category">
			<option value="">All categories</option>
		<% for category in @categories %>
			<option value="<%= category %>"><%= category%></option>
		<% end %>
		</select>
		<select name="area">
			<option value="">All areas</option>
		<% for area in @areas %>
			<option value="<%= area %>"><%= area %></option>
		<% end %>
		</select>
		<input type="submit" value="Filter">

	</form>

	<%= link_to 'New Spot', new_spot_path %>

</div>

<div id="map_canvas" style="width:100%; height:100%"></div>